{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
<section class="section is-supersmall" id="section4">
  <div class="container">

    <div class="content-wrapper">
      <div class="column is-centered">
        {{- range $clients }}
        <div class="column is-20">
          <figure class="testimonial">
            <blockquote>
              {{ .quote }}
            </blockquote>
            <div class="author">
              <h5>{{ .name }}</h5>
              <span>{{ .job }}</span>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>